role:           FMDA Registry
address:        Fungolia
e-mail:         noc@fmda-irr.lab
admin-c:        FMDA-RIR
tech-c:         FMDA-RIR
nic-hdl:        FMDA-RIR
mnt-by:         MAINT-FMDA
source:         FMDA

mntner:         MAINT-FMDA
descr:          FMDA registry maintainer
admin-c:        FMDA-RIR
upd-to:         noc@fmda-irr.lab
auth:           @@AUTH@@
mnt-by:         MAINT-FMDA
source:         FMDA

route:          203.0.113.0/24
descr:          FDEI government portal space
origin:         AS65010
mnt-by:         MAINT-FMDA
source:         FMDA

route:          198.51.100.0/24
descr:          Bracket Hosting honest space
origin:         AS65020
mnt-by:         MAINT-FMDA
source:         FMDA

route:          192.0.2.0/24
descr:          FungusFiber eyeball space
origin:         AS65001
mnt-by:         MAINT-FMDA
source:         FMDA